body {
    font-family: "Calibri";
    margin: 0;
    font-weight: 300;
    background-color: #ddb439; // MAIN COLOR #663300, SECONDARY COLOR ddb439
}

#container {
    margin: auto;
    width: 60%;
}

.navmenu > a{
    letter-spacing: 2px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    overflow: hidden;
}

.navmenu > a:hover {
    color: #CC6600;
}

a {
    color: #033a00;
}

footer {
    color: #033a00;
}
