body {
    background-color: #ffc107;
    font-family: "Georgia";
}

footer {
    line-height: 120px;
    padding-right: 10px;
	float: right;
	position: static;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #ffc107;
}

.navbar-nav .nav-item .nav-link{
    color: #212529;
    font-weight: bold;
}

.jumbotron {
    background-image: url('../img/banner2.jpg');
    background-size: 100%;
	background-repeat: no-repeat;
    background-blend-mode: luminosity;
}

.jumbotron a {
    color: white;
}

.container-fluid {
    background-color: white;
}

.active {
    border-bottom: 1px solid white;
}

.navbar-brand{
    color: #ad5b00 !important;
    font-size: 55px;
    font-weight: 500;
    -webkit-text-stroke: 0.7px black;
}