body {
    background-color: #ffc107;
    font-family: "Georgia";
}

footer {
    line-height: 120px;
    padding-right: 10px;
}

.navbar-nav .nav-item .nav-link{
    color: #212529;
    font-weight: bold;
}

.jumbotron {
    background-image: url('../img/banner2.jpg');
    background-size: 100%;
    background-blend-mode: luminosity;
    margin-bottom: 0;
}

.jumbotron a {
    color: white;
}

.container-fluid {
    background-color: white;
}

.active {
    text-decoration: underline;
}

.navbar-brand{
    color: #ad5b00 !important;
    font-size: 55px;
    font-weight: 500;
    -webkit-text-stroke: 0.7px black;
}